<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>signType</key>
			<integer>1</integer>
			<key>signName</key>
			<string>同步-并发</string>
			<key>signDesc</key>
			<string>Sync-concurrent</string>
		</dict>
		<dict>
			<key>signType</key>
			<integer>2</integer>
			<key>signName</key>
			<string>异步-并发</string>
			<key>signDesc</key>
			<string>ASync-concurrent</string>
		</dict>
		<dict>
			<key>signType</key>
			<integer>3</integer>
			<key>signName</key>
			<string>同步-串行</string>
			<key>signDesc</key>
			<string>Sync_serial</string>
		</dict>
		<dict>
			<key>signType</key>
			<integer>4</integer>
			<key>signName</key>
			<string>异步-串行</string>
			<key>signDesc</key>
			<string>Async_serial</string>
		</dict>
		<dict>
			<key>signType</key>
			<integer>5</integer>
			<key>signName</key>
			<string>同步-主队列</string>
			<key>signDesc</key>
			<string>Sync-mian_queue</string>
		</dict>
		<dict>
			<key>signType</key>
			<integer>6</integer>
			<key>signName</key>
			<string>异步-并发-主队列</string>
			<key>signDesc</key>
			<string>Async-mian_queue</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>signType</key>
			<string>7</string>
			<key>signName</key>
			<string>线程嵌套『同步-并发』</string>
			<key>signDesc</key>
			<string>async { Sync-concurrent }</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>8</string>
			<key>signName</key>
			<string>线程通信</string>
			<key>signDesc</key>
			<string>communication</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>9</string>
			<key>signName</key>
			<string>栅栏方法</string>
			<key>signDesc</key>
			<string>barrier_async</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>10</string>
			<key>signName</key>
			<string>延时执行</string>
			<key>signDesc</key>
			<string>dispatch after</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>11</string>
			<key>signName</key>
			<string>只执行一次</string>
			<key>signDesc</key>
			<string>dispatch once</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>12</string>
			<key>signName</key>
			<string>快速迭代 遍历</string>
			<key>signDesc</key>
			<string>dispatch apply</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>signType</key>
			<string>13</string>
			<key>signName</key>
			<string>队列组-通知</string>
			<key>signDesc</key>
			<string>group_notify</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>14</string>
			<key>signName</key>
			<string>暂停（阻塞）当前线程</string>
			<key>signDesc</key>
			<string>group_wait</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>15</string>
			<key>signName</key>
			<string>组任务追加 | 离开</string>
			<key>signDesc</key>
			<string>group_enter | group_leave</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>signType</key>
			<string>16</string>
			<key>signName</key>
			<string>线程同步</string>
			<key>signDesc</key>
			<string>semaphoreSync</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>17</string>
			<key>signName</key>
			<string>线程安全-售票模拟</string>
			<key>signDesc</key>
			<string>semaphoreThreadSafe</string>
		</dict>
		<dict>
			<key>signType</key>
			<string>18</string>
			<key>signName</key>
			<string>非线程安全--售票模拟</string>
			<key>signDesc</key>
			<string>ThreadAsyncNotSafe  </string>
		</dict>
		<dict>
			<key>signType</key>
			<string>19</string>
			<key>signName</key>
			<string>取消gcd任务 - 已经在执行中的会继续执行，未执行的被取消</string>
			<key>signDesc</key>
			<string>DispatchWorkItemCancel</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>signType</key>
			<string>20</string>
			<key>signName</key>
			<string>同步-主队列-崩溃</string>
			<key>signDesc</key>
			<string>Sync-mian_queue_crash demo</string>
		</dict>
	</array>
</array>
</plist>
